* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}




/* sección uno contiene nav y caja blanca*/
#one{
	background-image: url(../assets/images/hero.gif);
	background-size: cover;
	height:100vh;
	width:100%;
	
}
/*nav*/

nav{
	height: 15vh;
	width: 100%;
	background: linear-gradient(rgba(46, 28, 68, 0.6), transparent);
	color: #FFF;
	vertical-align: auto;

}


.top{
	float:left;
	vertical-align: auto;
}

.top-left {
	width: 60%;
}



#logo{
	height:8vh;
	width: auto;
	margin-left: 10%;
	margin-top:5vh;
}


.top-right{
	width:40%;

}
.lista{
  padding:5vh ;
	font-size: 1.5em;
	color:#FFF;
	list-style:none;
	text-decoration: none;
}

li{
	float: left;
	margin-left: 15px;
	padding: 5px;
}


.btn{
  background: none;
  border: 1px solid #FFF;
  border-radius: 5px;
  width: 22%;
  text-align: center;
}

.btn:hover{
	background-color: #fff;
	color: #AB7692;
}

/*caha blanca*/

#white-box{
	margin-left: 60%;
	height: 85vh;
	background-color: #FFF;
	color:#352384;
}

.inside-box{
	padding: 10%;

}
.inside-box h1 {
	font-size: 2em;
}

.inside-box2{
	padding-left: 10%
}
.npt{
	border:none;
}
.inside-box2 hr{
	width: 80%;
	color: #352384; 
	margin-top:5%;
}
.inside-box3{
	margin-left: 10%;
	margin-top: 5%;

}

.btn-1{
	background-color: #FF00BF;
	color: #FFF;
	width:25%;
	border-style: none;
	padding: 10px;
	border-radius: 5px;
}

.btn2{
	color:#AB7692;
	margin-left:10%;
	padding: 10px;
}

.inside-box4{
	margin-top:5%;
	margin-left: 10%;
}

/*sección dos*/

#two, #three{
	height: 50vh;
	width:100%;
	float:left;
	color:#000;
}

.wh-box{
	width: 40%;
	padding: 5%;
	float:left;

}

.videobox{
	height:50vh;
}

.vid1{
	width:60%;
	height:50vh;
}







	
	
